.main {
  min-height: calc(100vh - 11rem);
  display: flex;

  .side_nav {
    background-color: var(--background-element);

    ul {
      li {
        padding: 1.2rem 1.5rem;
        box-sizing: border-box;
        border-bottom: 1px solid var(--background-line);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        color: var(--gray-text);

        &.active {
          color: var(--text);
        }

        &:last-child {
          border: none;
        }
      }
    }
  }
}